# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
/playwright-report
/test-results

# next.js
/.next/
/out/

# production
/build
/dist
/out-tsc
/tmp
/docs

# misc
.DS_Store
*.pem
.idea/
.vscode/*
.cursor/*
PROGECT.md


# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# typespec
api/tsp-output/

# Sentry Config File
.env.sentry-build-plugin
